/* App.css */

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background: #f7f7f7;
  padding: 2rem;
  color: #333;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #222;
}

p {
  margin-bottom: 0.75rem;
  color: #444;
}

/* Reusable Card Style */
.url-card {
  margin: 2rem auto;
  width: 450px;
}
.url-results {
  background: #fff;
  width: 450px;
  margin: 0.5rem auto;
  padding: 1.75rem;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}
